*{box-sizing
    :border-box;}
body {
   background-color: #6ff;
   padding: 1em;
   background-image: linear-gradient(blue 70%, black);
   background-repeat: no-repeat;     /* repeat-x eða repeat-y */
   background-position: 0px 0px; /* föst staðsetning frá vinstra horni efst */
   background-position: center middle;
   /* X lárétt: left, center, right. Y lóðrétt: top, middle, bottom */
   background-attachment: fixed; /* scroll */	
}
.topnav{
   padding: 0;
   list-style-type: none;
   margin: 0;
   overflow: hidden;
   display: inline-block;
   color: beige;
   padding-left: 80em;
   padding-bottom: 5em;
   /* unvisited link */
}
 
 /* visited link */
 a:visited {
   color: green;
 }
 
 /* mouse over link */
 a:hover {
   color: hotpink;
 }
 
 /* selected link */
 a:active {
   color: blue;
}
.upp{
   border-radius: 50%;
   width: 36px;
   height: 36px;
   padding: 8px;

   background: black;
   border: 2px solid #666;
   color: #666;
}
.innermenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.lin {
    float: left;
    border-right:1px solid #bbb;
  }
  
.lin {
    border-right: none;
  }
  
.lin a{
    display: flex;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.lin a:hover:not(.active) {
    background-color: #111;
  }
  
.active {
    background-color: #04AA6D;
  }
.fotur{
   padding: 2em;
   display: flex;
   float: center;
   text-align: center;
   margin: 0em; 

   
}
h4 {
   padding-left: 4em;
   padding-right: 4em ;

}

.haus{
text-align: left;
color: beige;
}

.gulur-bakgrunnur{
   background: linear-gradient(to bottom, yellow,white);
   padding: 0;
   margin: -2em;
               /*  litur,   mynd,  staðsetning X-Y,  fixed,  repeat -x -y */
}
.col-sima-midja{
   padding-left: 10em;
   padding-right: 10em;
}
@media screen and(min-width: 37.5em){
   .col-sima-midja{
       display: grid;
       grid-template-columns: 1fr;
       grid-column: 1fr;
       grid-auto-rows: minmax(100px, auto);
       margin: 0em;

}   .adal{
   grid-column: 1;
   grid-row: 1;
}
   .hlid1{
   grid-column: 1;
   grid-row: 2;
}
}