.ul-block>li{
    display: block;
    margin: 1em;
    padding: 1em;
    border: 3px solid;}
.ul-inline>li{
    display: inline;
    margin: 1em;
    padding: 1em;
    border: 3px dashed blue;}
.ul-inline-block>li{
    display: inline-block;
    margin: 1em;
    padding: 1em;
    border: 3px dashed blue;}