*{box-sizing:border-box;}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
}

.box {
    margin: 1em;
    padding: 1em;
    width: 47%;
    float :left;
 
}

.bigL{
  text-transform: capitalize;
  font-size: 400%;
  margin: 10px;
}
.imgR{
  float: right;
}

.athugid{
  background-color: yellow;
  text-align: center;
}
section{
border : 1px solid black; }
